<!DOCTYPE html>
<html>
<head>
	<title>403</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="font-family: Arial;text-align: center;">
	<h1 style="font-size: 55px;">four-oh-three</h1>
	<h2 style="color: rgba(0,0,0,0.6);">Looks like somebody tried to touch the forbidden fruit...</h2>
	<p id="hidden" style="color:rgba(0,0,0,0.3);display: none;">Wait till you're older kiddo</p>
	<center>
		<div style="width: 30vw;height: 30px;" onmouseover="$('#hidden').fadeIn();"></div>
	</center>
</body>
</html>